@mixin common-desc {
  font-size: 24px;
  line-height: 1.43;
  font-weight: 600;
  letter-spacing: .009em;
  color: #86868b;
}

@mixin quality-flex {
  .quality-view {
    display: flex;
    justify-content: space-between;
  }
  .column-left {
    width: 62.6401%;
  }
  .column-right {
    width: 35.49191%;
  }
}