// color
$color-black: #000;
$color-light-black:#1d1d1f;
$color-white: #fff;
$color-dark-white: #f5f5f7;
$color-silver: #f5f4f0;
$color-dark-silver: #d2d3d4;
$color-gray: #3c3d3a;
$color-light-gray: #595759;
$color-dark-gray: #86868b;
$color-blue: #2f506c;
$color-light-blue: #91a6bb;
$color-pink: #e4544d;
$color-light-pink: #d8a097;
$color-green: #e7ece3;
$color-dark-green: #afbfab;
$color-anchor: #06c;
$color-border: #d2d2d7;
$color-footer-dark-gray: #424245;
$color-footer-gray: #6e6e73;

// font-size
$font-large: 32px;
$font-medium: 24px;
$font-regular: 21px;
$font-small: 14px;
$font-micro: 12px;