// sc-intro
.sc-intro {
  width: 100%;
  overflow: hidden;
  z-index: 2;
  position: relative;
  background: #fff;
  margin-top: -180px;
  min-height: 100vh;

  .logo-area {
    height: 100vh;
    width: 100%;
    position: relative;
    background: #fff;
  }

  .inner {
    position: relative;
    top: 120px;
    width: 90%;
  }

  .space {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 52.7%;
  }

  .title-area-wrap {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
  }

  .title-area {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .title-box {
    position: absolute;
    top: 20%;
    height: 100%;
    width: 100%;
    z-index: 1;

    img {
      object-position: 50% 47%;
    }
  }

  .thumb-box {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .intro-info {
    margin-bottom: 181px;

    .desc {
      max-width: 900px;
      margin: 440px auto 0;
      font-size: $font-large;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: .002em;
      text-align: center;
      color: #000;
    }
  }
}

// sc-video
.sc-video {
  position: relative;

  .video-area {
    height: 100vh;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info-list {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
  }

  .info-item {
    font: {
      size: 80px;
      weight: 600;
    }

    line-height: 1.265;
    color: $color-white;
    opacity: 0.001;
    transition: transform 0.8s,
    opacity 0.8s;
    display: none;

    &.active {
      display: block;
      opacity: 0.999;
    }
  }
}

// sc-design
.sc-design {
  position: relative;
  padding-top: 152px;
  background: $color-white;
  z-index: 2;

  .group-design {
    position: relative;
    height: 2405.5px;

    margin: {
      top: 94px;
      bottom: 310px;
    }

    .design-inner1 {
      position: sticky;
      top: 100px;
      width: 100%;
      height: 1405.5px;

      .info-area {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1228px;
        height: 100%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }

    .thumb-area-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 2;
    }

    .thumb-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .design-inner2 {
      position: absolute;
      bottom: 0;
      top: auto;
      left: 50%;
      width: auto;
      height: 100vh;
      transform: translate(-50%, 310px);

      .info-area {
        position: sticky;
        height: 280px;
        top: calc(100vh - 280px);
      }
    }

    .info-box {
      position: absolute;
      transition: opacity 0.6s, transform 0.6s;

      &.left {
        left: 61px;
        width: 275px;

        &:nth-child(1) {
          top: 2%;
        }

        &:nth-child(2) {
          top: 17%;
        }
      }

      &.right {
        bottom: 62%;
        width: 305px;
        left: 50%;
        margin-left: 150px;
      }

      &.bottom {
        position: relative;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 390px;
        text-align: center;
      }
    }

    .desc {
      font: {
        size: $font-regular;
        weight: 600;
      }

      line-height: 1.43;
      letter-spacing: .011em;
      color: $color-dark-gray;

      em {
        color: #000;
      }
    }
  }

  .group-quality {
    @include quality-flex;

    .desc {
      @include common-desc;
      margin-top: 4.5%;

      em {
        color: $color-light-black;
      }
    }
  }

  .quality-area {
    &+.quality-area {
      margin-top: 102px;
    }
  }

  .group-crown {
    position: relative;

    .video-area {
      position: relative;
      margin-top: 176px;
      height: 0;
      padding-bottom: 51.17892%;
    }

    .crown-video {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .thumb-box {
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 0;
      z-index: 1;

      img {
        width: 100%;
      }
    }

    .info-box {
      position: absolute;
      bottom: 0;
      top: 43%;
      left: 50%;
      transform: translateX(-50%);
      width: 1228px;
      z-index: 1;
    }

    .desc {
      @include common-desc;
      color: #d1e8fd;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 484px;
      text-align: center;

      em {
        color: $color-white;
      }
    }
  }

  .group-gallery {
    padding-top: 173px;

    .sc-sub-title {
      margin: 0 0 92px 42px;
      text-align: left;
    }

    .gallery-swiper {
      overflow: hidden;
    }

    .swiper-pagination {
      position: absolute;
      top: 182px;
      right: 320px;
      bottom: auto;
      left: auto;
      width: auto;
    }

    .swiper-pagination-bullet {
      position: relative;
      width: 30px;
      height: 30px;
      opacity: 1;
      margin: 0 10px;

      &::before {
        content: '';
        position: absolute;
        left: -4px;
        right: -4px;
        top: -4px;
        bottom: -4px;
        border-radius: 50%;
      }

      &-active::before {
        border: 1px solid $color-border;
      }

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 100%;
        height: 50%;
        border-radius: 0 0 15px 15px;
      }

      &:nth-child(1) {
        background-color: $color-silver;

        &::after {
          background-color: $color-dark-silver;
        }
      }

      &:nth-child(2) {
        background-color: $color-gray;

        &::after {
          background-color: $color-light-gray;
        }
      }

      &:nth-child(3) {
        background-color: $color-blue;

        &::after {
          background-color: $color-light-blue;
        }
      }

      &:nth-child(4) {
        background-color: $color-pink;

        &::after {
          background-color: $color-light-pink;
        }
      }

      &:nth-child(5) {
        background-color: $color-green;

        &::after {
          background-color: $color-dark-green;
        }
      }
    }

    .column-left {
      width: 62.6401%;
    }

    .column-right {
      position: relative;
      width: 35.49191%;
    }
  }

  .gallery-item {
    display: flex;
    justify-content: space-between;

    &>div {
      background-color: $color-dark-white;
    }

    &.swiper-slide-active {
      .gallery-side-thumb {
        opacity: 1;
      }
    }

    .gallery-side-thumb {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    }
  }
}

// sc-audio
.sc-audio {
  position: relative;
  padding-top: 182px;
  color: #6e6e73;
  background: #000;

  .group-title {
    color: $color-white;

    .sc-theme,
    .sc-title,
    .sc-desc {
      color: inherit;
    }
  }

  .group-audio {
    margin-top: 172px;

    .audio-view {
      position: relative;
      display: flex;
    }

    .thumb-area-wrap {
      display: flex;
      justify-content: flex-end;
      flex-basis: 58.33333%;
      max-width: 58.33333%;
    }

    .thumb-area {
      position: relative;
      flex-shrink: 0;
      width: 1212px;
      height: 1492px;
    }

    .thumb-box {
      position: absolute;
      top: 0;
      left: 0;
      flex-shrink: 0;
    }

    .info-area {
      position: relative;
      flex-basis: 33.33333%;
      max-width: 33.33333%;
      margin-left: 8.33333%;
      font-size: $font-medium;
      line-height: 1.43;
      letter-spacing: .009em;
    }

    .info-box {
      position: absolute;
      top: 850px;
      width: 87.5%;
    }

    .title {
      color: $color-white;
    }

    .desc {
      @include common-desc;
      color: inherit;
    }
  }

  .group-quality,
  .group-sound {
    .desc {
      @include common-desc;
      color: inherit;

      em {
        color: $color-white;
      }
    }
  }

  .group-quality {
    @include quality-flex;
    margin-top: 182px;

    .title-area {
      .sc-sub-title {
        max-width: 75%;
        color: $color-white;
        text-align: left;
      }

      .desc {
        max-width: 66.66667%;
        margin-top: 66px;
      }
    }

    .quality-view {
      position: relative;
      margin-top: 182px;
      z-index: 1;

      .desc {
        margin-top: 4.5%;
      }
    }

    .column-left {

      .info-box {
        max-width: 83.33333%;
        margin: 0 auto;
      }
    }
  }

  .group-sound {
    position: relative;
    height: 1977px;
    margin-top: -254px;

    .sound-view {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;

      background: {
        image: radial-gradient(circle at bottom, #3C3E3B 0%, black 45%);
        size: 8000px 1977px;
        position: center top;
      }
    }

    .inner {
      max-width: 1227px;
      height: 100%;
    }

    .thumb-box {
      img {
        display: block;
        margin: 0 auto;
      }
    }

    .mask {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 1227px;
      height: 1179px;

      -webkit-mask: {
        image: url("../images/content/audio_quality_spatial_figure_mask.png");
        size: cover;
      }
    }

    .rings {
      position: absolute;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
      transition: opacity 300ms ease-out;

      &.front {
        top: 1102px;
        opacity: 0.2;
      }

      &.back {
        top: 684px;
      }
    }

    .info-area {
      position: absolute;
      left: 0;
      bottom: 180px;
      width: 100%;
    }

    .info-box {
      max-width: 41.66667%;
    }
  }
}


// sc-experience
.sc-experience {
  padding-top: 182px;

  .group-experience .info-box,
  .group-function .info-box {
    .desc {
      margin-top: 0.5em;
    }
  }

  .group-experience {

    .experience-view {
      display: flex;
    }

    .thumb-area-wrap {
      flex-basis: 75%;
      max-width: 75%;
      display: flex;
    }

    .thumb-area {
      flex-shrink: 0;
      position: relative;
      margin-left: -133px;
      width: 964.76px;
      height: 888.22px;
    }

    .screen-box {
      position: absolute;
      top: 226.06px;
      right: 20.58px;
      width: 293.7px;
      height: 633.68px;

      -webkit-mask: {
        size: cover;
        image: url("../images/content/experience_screen_mask.svg");
      }
    }

    .screen {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .sc-experience-video {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;
    }

    .info-area {
      @include common-desc;
      flex-basis: 25%;
      max-width: 25%;
      padding-top: 430px;
    }
  }

  .group-function {
    margin-top: 163px;

    .info-area {
      @include common-desc;
      margin-top: 110px;
      display: flex;
      justify-content: space-around;
    }

    .info-box {
      flex-basis: 25%;
      max-width: 25%;
    }
  }

  .group-case {
    margin-top: 168px;
    padding-bottom: 272px;
    text-align: center;

    .title-area {
      .desc {
        @include common-desc;
        max-width: 66.66667%;
        margin: 55px auto 0;

        em {
          color: $color-light-black;
        }
      }
    }

    .thumb-box {
      margin-top: 132px;
    }
  }

  .group-battery {
    margin-bottom: 182px;
    text-align: center;

    .time {
      display: block;

      font: {
        size: 600px;
        weight: 700;
      }

      line-height: .925;
      color: $color-light-black;
    }

    .desc {
      @include common-desc;
      max-width: 50%;
      margin: 0 auto;
      color: $color-light-black;
    }
  }
}

// sc-service
.sc-service {
  .inner {
    max-width: 1706px;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .service-area {
    position: relative;
    display: flex;
    color: $color-light-black;
    background-color: #f2f2f2;

    &+.service-area {
      margin-top: 20px;
    }

    &.engraving {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    &.music {
      padding: 58px 0 68px;
    }

    &.music .thumb-box {
      position: relative;
      left: 23px;
    }

    &.music .thumb {
      position: relative;
      width: 381px;
      height: 381px;
      padding-top: 64px;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 353px;
        height: 397px;
        background: url("../images/content/service_music_stack.jpg") no-repeat center;
        z-index: -1;
      }

      img {
        display: block;
        border-radius: 3.5%;
        background-color: #000f64;
        filter: drop-shadow(0px 4px 18px #000f6477);
      }
    }

    &.ar .info-box-wrap {
      flex-basis: 58.33333%;
      max-width: 58.33333%;
    }

    &.engraving .info-box-wrap {
      flex-basis: 33.33333%;
      max-width: 33.33333%;
      margin-left: 12%;
      justify-content: center;
    }

    &.music .info-box-wrap {
      flex-basis: 58.33333%;
      max-width: 58.33333%;
    }

    &.ar .info-box {
      flex-basis: 50%;
      max-width: 50%;

      margin: {
        left: 27px;
        right: 25%;
      }
    }

    &.engraving .info-box {
      margin-top: 0;
    }

    &.music .info-box {
      height: auto;
      flex-basis: 58.33333%;
      max-width: 58.33333%;

      margin: {
        left: 25%;
        right: auto;
      }
    }

    &.ar .ico-logo {
      width: 55px;
      height: 62px;
      background-image: url("../images/content/service_ar_logo.png");
    }

    &.music .ico-logo {
      width: 107px;
      height: 26px;
      background-image: url("../images/content/service_music_logo.svg");
    }

    &.ar .desc {
      max-width: 83.33333%;
      margin-top: 16px;

      font: {
        size: $font-medium;
        weight: 600;
      }

      line-height: 1.29167;
      letter-spacing: .009em;
      color: $color-dark-gray;
    }

    &.engraving .desc {
      margin-top: 0.8em;
    }

    &.music .link-buy {
      display: block;
      margin-top: 16px;
    }
  }

  .thumb-box {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    box-sizing: border-box;
  }

  .info-box-wrap {
    display: flex;
    justify-content: flex-end;
  }

  .info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: 11px;

    .ico-logo {
      margin-bottom: 13px;
      background-repeat: no-repeat;
    }

    .title {
      font-size: 48px;
      line-height: 1.32;
    }

    .link-buy {
      font: {
        size: $font-regular;
        weight: 400;
      }

      letter-spacing: .011em;
      color: #06c;

      &:hover {
        text-decoration: underline;
      }

      .material-icons {
        font-size: inherit;
        vertical-align: -4px;
      }
    }
  }

  .color-list {
    display: flex;
    padding-bottom: 16px;
    margin: 28px 0 24px;
  }

  .color-item {
    margin: 0 10px;

    &:nth-child(1) {
      margin-left: 4px;
    }
  }

  .btn-color {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    color: $color-light-black;

    &::before {
      content: '';
      position: absolute;
      left: -4px;
      right: -4px;
      top: -4px;
      bottom: -4px;
      border-radius: 50%;
    }

    &:hover::before,
    &.active::before {
      border: 1px solid $color-border;
    }

    &.silver .color-box {
      background-color: $color-silver;

      &::after {
        background-color: $color-dark-silver;
      }
    }

    &.gray .color-box {
      background-color: $color-gray;

      &::after {
        background-color: $color-light-gray;
      }
    }

    &.blue .color-box {
      background-color: $color-blue;

      &::after {
        background-color: $color-light-blue;
      }
    }

    &.pink .color-box {
      background-color: $color-pink;

      &::after {
        background-color: $color-light-pink;
      }
    }

    &.green .color-box {
      background-color: $color-green;

      &::after {
        background-color: $color-dark-green;
      }
    }

    .color-box {
      display: block;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50%;
      }
    }

    .title {
      position: absolute;
      bottom: -26px;
      left: 50%;
      transform: translateX(-50%);

      font: {
        size: $font-micro;
        weight: 400;
      }

      line-height: 1.41667;
      white-space: nowrap;
      display: none;
    }

    &.active .title {
      display: block;
    }
  }
}

// sc-model
.sc-model {
  color: #000;

  padding: {
    top: 128px;
    bottom: 60px;
  }

  text-align: center;

  .inner {
    max-width: 940px;
  }

  .sc-title {
    font-size: 64px;
    line-height: 1;
  }

  .model-list {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
  }

  .model-item {
    width: calc((100% - 102px) / 4);
  }

  .model-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #d2d2d7;

    &:nth-child(1) {
      padding-bottom: 25px;
      margin-bottom: 25px;
    }

    &:nth-child(2) {
      padding-bottom: 45px;
    }

    .model-thumb {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 235px;
      padding-bottom: 50px;
      background-repeat: no-repeat;

      &::before {
        content: '';
        display: block;
      }

      &.airpods2::before {
        width: 120px;
        height: 159px;

        background: {
          size: 120px 159px;
          image: url("../images/content/compare_airpods_2.png");
        }
      }

      &.airpods3::before {
        width: 149px;
        height: 144px;

        background: {
          size: 149px 144px;
          image: url("../images/content/compare_airpods_3.png");
        }
      }

      &.airpods-pro::before {
        width: 165px;
        height: 140px;

        background: {
          size: 165px 140px;
          image: url("../images/content/compare_airpods_pro.png");
        }
      }

      &.airpods-max::before {
        width: 212px;
        height: 235px;

        background: {
          size: 212px 235px;
          image: url("../images/content/compare_airpods_max.png");
        }
      }
    }

    .title {
      font-size: $font-medium;
      letter-spacing: .009em;
      line-height: 1.29167;
    }

    .version {
      font: {
        size: $font-small;
        weight: 400;
      }

      line-height: 1.57143;
      color: $color-light-black;
      display: block;
      min-height: 22px;
    }

    .price {
      font: {
        size: 17px;
        weight: 400;
      }

      line-height: 1.35296;
      margin: 0.8em 0;
    }

    .link-buy {
      display: inline-block;

      font: {
        size: $font-micro;
        weight: 400;
      }

      padding: {
        left: 11px;
        right: 11px;
        top: 4px;
        bottom: 4px;
      }

      line-height: 1.33337;
      min-width: 23px;
      border-radius: 980px;
      background: #0071e3;
      color: $color-white;
      text-align: center;
    }

    .link-more {
      display: inline-block;
      margin-top: 0.4em;

      font: {
        size: $font-small;
        weight: 400;
      }

      line-height: 1.57143;
      color: #06c;

      &:hover {
        text-decoration: underline;
      }

      .material-icons {
        font-size: inherit;
        vertical-align: -2px;
      }
    }

    .compare-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 103px;

      &+.compare-item {
        margin-top: 53px;
      }
    }

    i[class^="ico-"] {
      margin-bottom: 9px;
      background-repeat: no-repeat;
    }

    .ico-wrap {
      display: flex;
      justify-content: space-between;

      i[class^="ico-"]+i[class^="ico-"] {
        margin-left: 10px;
      }
    }

    .ico-wireless {
      width: 31px;
      height: 48px;

      background: {
        size: 31px 48px;
        image: url("../images/icon/ico_wireless.png");
      }
    }

    .ico-audio {
      width: 40px;
      height: 38px;

      background: {
        size: 40px 38px;
        image: url("../images/icon/ico_audio.png");
      }
    }

    .ico-water {
      width: 28px;
      height: 41px;

      background: {
        size: 28px 41px;
        image: url("../images/icon/ico_water.png");
      }
    }

    .ico-noise {
      width: 26px;
      height: 34px;

      background: {
        size: 26px 34px;
        image: url("../images/icon/ico_noise.png");
      }
    }

    .ico-transparency {
      width: 26px;
      height: 34px;

      background: {
        size: 26px 34px;
        image: url("../images/icon/ico_transparency.png");
      }
    }

    .desc {
      font: {
        size: $font-small;
        weight: 400;
      }
    }

    .sup {
      margin-left: 0.2em;

      a:hover {
        color: #06c;
      }
    }

    .time {
      font: {
        size: 42px;
        weight: 500;
      }

      line-height: 1.04762;
    }
  }

  .link-compare {
    display: block;
    margin-top: 40px;

    font: {
      size: $font-regular;
      weight: 400;
    }

    line-height: 1.52381;
    letter-spacing: .011em;
    color: #06c;
    text-align: center;

    &:hover span {
      text-decoration: underline;
    }

    .material-icons {
      font-size: inherit;
      vertical-align: -3px;
    }
  }
}