// footer
#footer {
  position: relative;
  min-width: 1024px;
  overflow: hidden;

  font: {
    size: $font-micro;
    weight: 400;
  }

  line-height: 1.33337;
  letter-spacing: -.01em;
  background: $color-dark-white;
  color: $color-footer-gray;
  z-index: 1;

  .inner {
    max-width: 980px;
    padding: 0 22px;
  }

  .service-area {
    font: {
      size: $font-small;
      weight: 400;
    }

    line-height: 1.57143;
    padding-bottom: 56px;
    border-bottom: 1px solid $color-border;
  }

  .service-list {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    color: $color-light-black;
  }

  .service-item {
    margin: 0 auto;
    padding-top: 56px;
    position: relative;
    text-align: center;
    width: 216px;
    z-index: 1;
  }

  .link-service {
    display: block;

    i[class^="ico"] {
      width: 100%;
      height: 56px;

      background: {
        size: 100% 56px;
        repeat: no-repeat;
      }
    }

    .ico-ship {
      background-image: url("../images/icon/ico_ship.svg");
    }

    .ico-money {
      background-image: url("../images/icon/ico_money.svg");
    }

    .ico-help {
      background-image: url("../images/icon/ico_help.svg");
    }

    .ico-badge {
      background-image: url("../images/icon/ico_badge.svg");
    }

    .title {
      display: block;
      font-size: 19px;
      letter-spacing: .012em;
      line-height: 1.31579;
      margin-top: 0.525em;
    }

    .desc {
      margin-top: 0.4em;
    }

    .more {
      display: block;
      margin-top: 0.8em;
      color: $color-anchor;
    }

    &:hover .more {
      text-decoration: underline;
    }

    .material-icons {
      font-size: inherit;
      vertical-align: -2px;
    }
  }

  .group-guide {
    border-bottom: 1px solid $color-border;
    padding: 17px 0 11px;

    font: {
      size: $font-micro;
      weight: 400;
    }

    line-height: 1.33337;
    letter-spacing: 0em;
    color: $color-footer-gray;

    .remark {
      padding-bottom: 0.8em;

      &::before {
        content: '*';
      }
    }
  }

  .guide-list {
    list-style-type: decimal;
    padding: 0 17px;
  }

  .guide-item {
    padding-bottom: 0.8em;
  }

  .group-nav {
    .now-list {
      padding: 17px 0;
      position: relative;
      z-index: 1;
      color: $color-footer-dark-gray;

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }

    .now-item {
      margin-right: 7px;
      float: left;
      padding: 3px 4px 3px 0;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.home {
        padding-top: 0;
      }

      &+.now-item::before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 18px;

        background: {
          size: 8px 36px;
          repeat: no-repeat;
          image: url("../images/icon/ico_arrow.svg");
          position-y: 100%;
        }

        margin: {
          right: 11px;
          top: -1px;
        }

        vertical-align: middle;
      }

      .link-now {
        display: inline-block;
      }

      .ico-apple {
        position: relative;
        width: 14px;
        height: 18px;

        background: {
          size: 14px 72px;
          repeat: no-repeat;
          image: url("../images/icon/ico_apple.svg");
          position-y: -36px;
        }

        z-index: 2;
      }
    }
  }

  .nav-list-wrap {
    display: flex;

    font: {
      size: $font-micro;
      weight: 400;
    }

    line-height: 1.33337;
  }

  .group-column {
    flex-basis: 25%;
  }

  .nav-area {
    &+.nav-area {
      padding-top: 24px;
    }

    .title {
      display: block;
      font-size: $font-micro;
      line-height: 1.33337;
      letter-spacing: -.01em;

      margin: {
        right: 20px;
        bottom: 0.8em;
      }

      cursor: default;
    }
  }

  .nav-item {
    &+.nav-item {
      margin-top: 0.8em;
    }
  }

  .link-nav {
    color: $color-footer-dark-gray;

    &:hover {
      text-decoration: underline;
    }
  }

  .group-corp {
    padding: 34px 0 21px;

    .corp-inner1 {
      margin-bottom: 7px;
      padding-bottom: 8px;
      border-bottom: 1px solid $color-border;
    }

    .remark {
      a {
        color: $color-anchor;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .corp-inner2 {
      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }

    .copyright {
      float: left;

      margin: {
        right: 30px;
        top: 5px;
      }
    }

    .corp-list {
      float: left;

      margin: {
        right: 30px;
        top: 5px;
      }

      position: relative;
      top: -5px;
      z-index: 1;

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }

    .corp-item {
      float: left;
      border-right: 1px solid $color-border;

      margin: {
        right: 7px;
        top: 5px;
      }

      padding-right: 10px;
      white-space: nowrap;

      &:last-child {
        border: none;
        margin-right: 0;
        padding: 0;
      }
    }

    .link-corp {
      display: block;
      color: $color-footer-dark-gray;

      &:hover {
        text-decoration: underline;
      }
    }

    .link-nation {
      float: right;
    }
  }
}