// footer
#footer {
  position: relative;
  min-width: 1024px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -.01em;
  background: #f5f5f7;
  color: #6e6e73;
  z-index: 1;

  .inner {
    max-width: 980px;
    padding: 0 22px;
  }

  .service-area {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57143;
    padding-bottom: 56px;
    border-bottom: 1px solid #d2d2d7;
  }

  .service-list {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    color: #1d1d1f;
  }

  .service-item {
    margin: 0 auto;
    padding-top: 56px;
    position: relative;
    text-align: center;
    width: 216px;
    z-index: 1;
  }

  .link-service {
    display: block;

    i[class^="ico"] {
      width: 100%;
      height: 56px;
      background-size: 100% 56px;
      background-repeat: no-repeat;
    }

    .ico-ship {
      background-image: url("../images/icon/ico_ship.svg");
    }

    .ico-money {
      background-image: url("../images/icon/ico_money.svg");
    }

    .ico-help {
      background-image: url("../images/icon/ico_help.svg");
    }

    .ico-badge {
      background-image: url("../images/icon/ico_badge.svg");
    }

    .title {
      display: block;
      font-size: 19px;
      letter-spacing: .012em;
      line-height: 1.31579;
      margin-top: 0.525em;
    }

    .desc {
      margin-top: 0.4em;
    }

    .more {
      display: block;
      margin-top: 0.8em;
      color: #06c;
    }

    &:hover .more {
      text-decoration: underline;
    }

    .material-icons {
      font-size: inherit;
      vertical-align: -2px;
    }
  }

  .guide-area {
    border-bottom: 1px solid #d2d2d7;
    padding: 17px 0 11px;
    font-size: 12px;
    line-height: 1.33337;
    letter-spacing: 0em;
    font-weight: 400;
    color: #6e6e73;

    .remark {
      padding-bottom: 0.8em;

      &::before {
        content: '*';
      }
    }
  }

  .guide-list {
    list-style-type: decimal;
    padding: 0 17px;
  }

  .guide-item {
    padding-bottom: 0.8em;
  }

  .nav-area {
    .now-list {
      padding: 17px 0;
      position: relative;
      z-index: 1;
      color: #424245;

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }

    .now-item {
      margin-right: 7px;
      float: left;
      padding: 3px 4px 3px 0;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.home {
        padding-top: 0;
      }

      &+.now-item::before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 18px;
        background-size: 8px 36px;
        background-repeat: no-repeat;
        background-image: url("../images/icon/ico_arrow.svg");
        background-position-y: 100%;
        margin-right: 11px;
        vertical-align: middle;
        margin-top: -1px;
      }

      .link-now {
        display: inline-block;
      }

      .ico-apple {
        position: relative;
        width: 14px;
        height: 18px;
        background-size: 14px 72px;
        background-repeat: no-repeat;
        background-image: url("../images/icon/ico_apple.svg");
        background-position-y: -36px;
        z-index: 2;
      }
    }
  }

  .nav-list-wrap {
    display: flex;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
  }

  .group-column {
    flex-basis: 25%;
  }

  .nav-box {
    &+.nav-box {
      padding-top: 24px;
    }

    .title {
      display: block;
      font-size: 12px;
      line-height: 1.33337;
      letter-spacing: -.01em;
      margin-right: 20px;
      margin-bottom: 0.8em;
      cursor: default;
    }
  }

  .nav-item {
    &+.nav-item {
      margin-top: 0.8em;
    }
  }

  .link-nav {
    color: #424245;

    &:hover {
      text-decoration: underline;
    }
  }

  .corp-area {
    padding: 34px 0 21px;

    .group-flex1 {
      margin-bottom: 7px;
      padding-bottom: 8px;
      border-bottom: 1px solid #d2d2d7;
    }

    .remark {
      a {
        color: #06c;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .group-flex2 {
      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }

    .copyright {
      float: left;
      margin-right: 30px;
      margin-top: 5px;
    }

    .corp-list {
      float: left;
      margin-right: 30px;
      margin-top: 5px;
      position: relative;
      top: -5px;
      z-index: 1;

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }

    .corp-item {
      float: left;
      border-right: 1px solid #d2d2d7;
      margin-right: 7px;
      padding-right: 10px;
      margin-top: 5px;
      white-space: nowrap;

      &:last-child {
        border: none;
        margin-right: 0;
        padding: 0;
      }
    }

    .link-corp {
      display: block;
      color: #424245;

      &:hover {
        text-decoration: underline;
      }
    }

    .link-nation {
      float: right;
    }
  }
}