// header
#header {
  position: relative;
  min-width: 1024px;
  width: 100%;
  height: 44px;
  font-size: 17px;
  user-select: none;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 10;

  .inner1 {
    display: flex;
  }

  .logo-area {
    margin-right: 40px;
  }

  .logo {
    a {
      display: block;
      max-width: 136px;
      height: 44px;
      padding: 0 8px;
      opacity: .8;
      transition: opacity .3s;

      &:hover {
        opacity: 1;
      }

      &::before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 100%;

        background: {
          repeat: no-repeat;
          position: center;
          origin: content-box;
          image: url("../images/typo/gnb_apple.svg");
          size: 14px 44px;
        }
      }
    }
  }

  .util-area {
    display: flex;
  }

  .btn-util {
    display: block;
    max-width: 136px;
    height: 44px;
    padding: 0 8px;
    margin-left: 35px;
    opacity: .8;
    transition: opacity .3s;

    &:hover {
      opacity: 1;
    }

    &::before {
      content: '';
      display: inline-block;
      height: 100%;

      background: {
        repeat: no-repeat;
        position: center;
        origin: content-box;
      }
    }

    &.search {
      &::before {
        width: 15px;

        background: {
          size: 15px 88px;
          position: 0 0;
          image: url("../images/typo/gnb_search.svg");
        }
      }
    }

    &.cart {
      &::before {
        width: 13px;

        background: {
          size: 13px 44px;
          image: url("../images/typo/gnb_cart.svg");
        }
      }
    }
  }
}

#gnb {
  width: 100%;
  height: 100%;
  font-size: 17px;
  margin: 0 -11px;

  .gnb-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .gnb-item {
    position: relative;
    height: 44px;
    z-index: 1;
    box-sizing: border-box;
    vertical-align: top;
  }

  .link-gnb {
    display: block;
    max-width: 136px;
    padding: 0 8px;
    font-size: $font-micro;
    color: $color-white;
    opacity: .8;
    transition: opacity .3s;
    height: 100%;

    &:hover {
      opacity: 1;
    }

    &::before {
      content: '';
      display: inline-block;
      height: 100%;

      background: {
        repeat: no-repeat;
        position: center;
        origin: content-box;
      }
    }

    &.apple::before {
      width: 14px;

      background: {
        image: url("../images/typo/gnb_apple.svg");
        size: 14px 44px;
      }
    }

    &.store::before {
      width: 2.5em;
      max-width: 51px;
      background-image: url("../images/typo/gnb_store.svg");
    }

    &.mac::before {
      width: 1.91667em;
      max-width: 39.1px;
      background-image: url("../images/typo/gnb_mac.svg");
    }

    &.ipad::before {
      width: 2em;
      max-width: 40.8px;
      background-image: url("../images/typo/gnb_ipad.svg");
    }

    &.iphone::before {
      width: 3.16667em;
      max-width: 64.6px;
      background-image: url("../images/typo/gnb_iphone.svg");
    }

    &.watch::before {
      width: 2.91667em;
      max-width: 59.5px;
      background-image: url("../images/typo/gnb_watch.svg");
    }

    &.airpods::before {
      width: 3.58333em;
      max-width: 73.1px;
      background-image: url("../images/typo/gnb_airpods.svg");
    }

    &.tvhome::before {
      width: 3.5em;
      max-width: 71.4px;
      background-image: url("../images/typo/gnb_tvhome.svg");
    }

    &.onlyonapple::before {
      width: 6.66667em;
      max-width: 136px;
      background-image: url("../images/typo/gnb_onlyonapple.svg");
    }

    &.accessories::before {
      width: 3.33333em;
      max-width: 68px;
      background-image: url("../images/typo/gnb_accessories.svg");
    }

    &.support::before {
      width: 3.25em;
      max-width: 66.3px;
      background-image: url("../images/typo/gnb_support.svg");
    }

    &.search::before {
      width: 15px;

      background: {
        size: 15px 88px;
        position: 0 0;
        image: url("../images/typo/gnb_search.svg");
      }
    }

    &.cart::before {
      width: 13px;

      background: {
        size: 13px 44px;
        image: url("../images/typo/gnb_cart.svg");
      }
    }
  }
}

.content-nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  min-width: 1024px;
  // margin-top: 44px;
  font-size: $font-micro;
  z-index: 10;
  transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);

  &.fixed {
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.72);
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;

    &::before {
      width: 100%;
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 980px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.16);
    z-index: 1;
  }

  .inner1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.logo {
  display: block;

  font: {
    size: $font-regular;
    weight: 600;
  }

  line-height: 1.14286;
  letter-spacing: -0.5px;
  color: $color-black;
}

.service-list {
  display: flex;
  align-items: center;
}

.service-item {
  &+.service-item {
    margin-left: 24px;
  }
}

.link-service {
  color: rgba(0, 0, 0, .88);
  display: block;
  font-size: 1em;
  line-height: 22px;

  &:hover {
    color: $color-anchor;
  }

  &.buy {
    font: {
      weight: 400;
      size: $font-micro;
    }

    line-height: 1.33337;
    letter-spacing: -.01em;
    min-width: 23px;
    padding: 4px 11px;
    color: $color-white;
    text-align: center;
    border-radius: 980px;
    background: #0071e3;

    &:hover {
      background: #147ce5;
    }
  }

  &.active {
    color: rgba(0, 0, 0, .56);
    cursor: default;
  }
}